body{

  background-image: url(../image/nuage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.main_tab{

  display: flex;
  justify-content: center;
}


table {

  width: 80%;
  text-align: center;;
  font-size: 20px;
  border-spacing: 5px;

}


td.ligne1{

  background-color: rgba(163, 162, 162, 0.801)

}

th{

  height: 70px;
  padding-top: 3%;
  font-size: 30px;
  font-family: 'Shadows Into Light', cursive;
}



p{

  padding: 4%;
  
  font-family: 'Barlow Condensed', sans-serif;
}